{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Logout Confirmation - GradeBench{% endblock %}
{% block page_title %}Logout Confirmation{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="card-title">Logout Confirmation</h4>
            </div>
            <div class="card-body">
                <p class="lead">Are you sure you want to logout?</p>
                
                <div class="d-flex gap-2 mt-4 justify-content-center">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_button "Yes, Logout" button_type="submit" button_class="btn-danger" %}
                    </form>
                    <a href="{% url 'home' %}" class="btn btn-secondary">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}