<div class="tab-pane fade" id="step3" role="tabpanel">
  <h5 class="info-text">Step 3: Group Selection</h5>
  
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="alert alert-info">
        <p><strong>Placeholder:</strong> This step will show groups from the selected group sets 
        and allow you to choose which ones to synchronize.</p>
      </div>
      
      <div class="card">
        <div class="card-header">
          <h6>Selected Groups</h6>
        </div>
        <div class="card-body">
          <ul class="list-group" id="groups-container">
            <!-- Groups will be dynamically populated with JavaScript -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>