{% extends 'canvas/base.html' %}
{% load static %}

{% block title %}Confirm Delete | GradeBench Canvas{% endblock %}
{% block page_title %}Confirm Delete Course{% endblock %}
{% block nav_canvas_courses %}active{% endblock %}

{% block canvas_content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4 class="card-title">Delete Canvas Course</h4>
                <p class="card-category">Warning: This action cannot be undone</p>
            </div>
            <div class="card-content">
                <div class="alert alert-warning">
                    <h4>You are about to delete the following course:</h4>
                    <p><strong>{{ course.course_code }}:</strong> {{ course.name }}</p>
                    
                    <h5>This will delete:</h5>
                    <ul>
                        <li>All assignments in this course</li>
                        <li>All student enrollments in this course</li>
                        <li>All submissions in this course</li>
                        <li>All connections to this course</li>
                    </ul>
                    
                    <p><strong>Important:</strong> This action only removes the course from GradeBench. It will <em>not</em> affect the original course on Canvas.</p>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'canvas_course_detail' course_id=course.canvas_id %}" class="btn btn-secondary btn-fill btn-block">
                            <i class="fa fa-arrow-left"></i> Cancel
                        </a>
                    </div>
                    <div class="col-md-6">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-fill btn-block">
                                <i class="fa fa-trash"></i> Delete Course
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}