{% extends 'canvas/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Confirm Delete | GradeBench Canvas{% endblock %}
{% block page_title %}Confirm Delete Course{% endblock %}
{% block nav_canvas_courses %}active{% endblock %}

{% block canvas_content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4 class="card-title mb-0"><i class="fa fa-trash me-2"></i>Delete Canvas Course</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-secondary mb-4 p-4" role="alert">
                    <h4 class="alert-heading">You are about to delete the following course:</h4>
                    <p class="mb-3 fs-5"><strong>{{ course.course_code }}:</strong> {{ course.name }}</p>
                    
                    <h5 class="mt-4">This will delete:</h5>
                    <ul class="mb-3">
                        <li>All assignments in this course</li>
                        <li>All student enrollments in this course</li>
                        <li>All submissions in this course</li>
                        <li>All connections to this course</li>
                    </ul>
                    
                    <p class="mb-0"><strong>Important:</strong> This action only removes the course from GradeBench. It will <em>not</em> affect the original course on Canvas.</p>
                </div>
                
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-5 mb-3 mb-md-0">
                        <a href="{% url 'canvas_course_detail' course_id=course.canvas_id %}" class="btn btn-secondary btn-round btn-lg w-100">
                            <i class="fa fa-arrow-left me-1"></i> Cancel
                        </a>
                    </div>
                    <div class="col-md-5">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_button button_type="submit" content='<i class="fa fa-trash me-1"></i> Delete Course' button_class="btn-danger btn-round btn-lg w-100" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}